<!DOCTYPE html>
<html lang="fr">
    <body>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
        <title>Test Django</title>
    </head>

    <header  class="container mx-auto">
        <nav>
            <h1>LOGOOO</h1>
            <ul class="flex flex-row-reverse space-x-8 space-x-reverse ">
                <li class="bg-yellow-500 rounded-xl p-4"><a href="createPool/">Création des poules</a></li>
            </ul>
        </nav>

    </header>
    
    <main  class="container mx-auto">
        <h1>Teams</h1>
        <br>
        {% for team in teams %}

            <h3><a href="{{ team.name }}">{{ team.name }}</a></h3>

        {% endfor %}
    </main>

    </body>
</html>