{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
        <title>Test Django</title>
    </head>

    <body>

        <header  class="container mx-auto">
            <nav>
                <h1>LOGOOO</h1>
                <ul class="flex flex-row-reverse space-x-8 space-x-reverse ">
                    <li class="bg-yellow-500 rounded-xl p-4"><a href="listeTournois/">Liste des tournois</a></li>
                    <li class="bg-yellow-500 rounded-xl p-4"><a href="gestionTournoi/">Gestion tournoi</a></li>
                    <li class="bg-yellow-500 rounded-xl p-4"><a href="createTournoi/">Création tournoi</a></li>
                    <li class="bg-yellow-500 rounded-xl p-4"><a href="login/">Connexion</a></li>
                    <li class="bg-yellow-500 rounded-xl p-4"><a href="register/">Inscription</a></li>
                </ul>
            </nav>

        </header>


        <main  class="container mx-auto"> 
            <div class="flex flex-row space-x-32 pt-16">
                <div class="box-content h-96 w-1/3 p-4 border-8 rounded bg-yellow-400 text-center ">Tournoi 1</div>
                <div class="box-content h-96 w-1/3 p-4 border-8 rounded bg-yellow-400 text-center ">Tournoi 2</div>
                <div class="box-content h-96 w-1/3 p-4 border-8 rounded bg-yellow-400 text-center ">Tournoi 3</div>
            </div>

        </main>


        <footer  class="absolute bottom-0">

            <ul>
                <li class="bg-blue-500 " >&copy RYL, 2020 - Tous droits réservés</li>
            </ul>

        </footer>

    </body>

</html>