{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
        <title>Connexion Test</title>
    </head>
    <body class="h-screen overflow-hidden" style="background: #edf2f7;">
        <header class="container mx-auto my-6 text-gray-600 body-font">
            <nav>
                <ul class="md:ml-auto flex  flex-row space-x-8 items-center text-base justify-between">
                  <a href="{% url 'index' %}"><span class="ml-3 text-4xl">Tournoi IUT</span></a>
                  <div class="flex justify-end justify-between">
                      {% if user.is_anonymous %}
                          <span class="mr-5 hover:text-gray-90 border-b-2 border-blue-400">Bonjour,</span>
                          <li class="mr-5 hover:text-gray-900"><a href="{% url 'listeTournois' %}">Liste des tournois</a></li>
                          <li class="mr-5 hover:text-gray-900"><a href="{% url 'register' %}">Inscription</a></li>
                          <li class="mr-5 hover:text-gray-900"><a href="{% url 'login' %}">Connexion</a></li>
                      {% endif %}
                      {% if user.is_authenticated %}
                          {% if user.groups.all.0.name == "etudiant" %}
                              <span class="mr-5 hover:text-gray-90 border-b-2 border-blue-400">Bonjour, {{request.user}}</span>
                              <li class="mr-5 hover:text-gray-900"><a href="{% url 'listeTournois' %}">Liste des tournois</a></li>
                              <li class="mr-5 hover:text-gray-900"><a href=" {% url 'logout' %} ">Deconnexion</a></li>
                          {% endif %}
                          {% if user.is_staff %}
                              <span class="mr-5 hover:text-gray-90 border-b-2 border-blue-400">Bonjour, {{request.user}}</span>
                              <li class="mr-5 hover:text-gray-900"><a href="{% url 'listeTournois' %}">Liste des tournois</a></li>
                              <li class="mr-5 hover:text-gray-900"><a href="gestionTournoi/">Gestion tournoi</a></li>
                              <li class="mr-5 hover:text-gray-900"><a href=" {% url 'logout' %} ">Deconnexion</a></li>
                          {% endif %}
                          {% if user.groups.all.0.name == "superAdmin"%}
                              <span class="mr-5 hover:text-gray-90 border-b-2 border-blue-400">Bonjour, {{request.user}}</span>
                              <li class="mr-5 hover:text-gray-900"><a href="createTournoi/">Création tournoi</a></li>
                              <li class="mr-5 hover:text-gray-900"><a href="{% url 'listeTournois' %}">Liste des tournois</a></li>
                              <li class="mr-5 hover:text-gray-900"><a href="gestionTournoi/">Gestion tournoi</a></li>
                              <li class="mr-5 hover:text-gray-900"><a href=" {% url 'logout' %} ">Deconnexion</a></li>
                          {% endif %}
                      {% endif %}   
                  </div>
                </ul>
            </nav>
      </header>
        <div class="flex flex-col h-auto bg-gray-100 w-full h-full">
            <div class="grid place-items-center mx-2 my-20">
                <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12 
                    px-6 py-10 sm:px-10 sm:py-6 
                    bg-white rounded-lg shadow-md lg:shadow-lg">
                    <h2 class="text-center font-semibold text-3xl lg:text-4xl text-gray-800">
                        Connexion
                    </h2>

                    <form class="mt-10" method="POST">
                        {% csrf_token %}
                        <label for="username" class="block text-xs font-semibold text-gray-600 uppercase">Username</label>
                        <input id="username" type="username" name="username"
                            class="block w-full py-3 px-1 mt-2 
                            text-gray-800 appearance-none 
                            border-b-2 border-gray-100
                            focus:text-gray-500 focus:outline-none focus:border-gray-200"
                            required />
                        

                        <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                        <input id="password" type="password" name="password"
                            class="block w-full py-3 px-1 mt-2 mb-4
                            text-gray-800 appearance-none 
                            border-b-2 border-gray-100
                            focus:text-gray-500 focus:outline-none focus:border-gray-200"
                            required />

                        <button type="submit"  name="Create User"
                            class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                            font-medium text-white uppercase
                            focus:outline-none hover:bg-gray-700 hover:shadow-none">
                            Connexion
                        </button>
                        <div class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                        font-medium text-white uppercase
                        focus:outline-none hover:bg-gray-700 hover:shadow-none text-center">
                            <a class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                            font-medium text-white uppercase
                            focus:outline-none hover:bg-gray-700 hover:shadow-none text-center" 
                            href="{% url 'register' %}">Pas encore Inscrit ?</a>
                        </div>
                        {% for message in messages %}
                           <p id="messages">{{message}}</p>
                        {% endfor %} 
                    </form>
                </div>
            </div>
        </div>
        <footer class="container mx-auto absolute inset-x-0 bottom-0 py-8 text-gray-600 body-font">
            <div class="flex flex-row justify-center">
                <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                    </svg>
                    <span class="ml-3 text-xl">Tournoi IUT</span>
                </a>
                <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021 PTUT —
                    <a href="" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@RYL</a>
                </p>
            </div>
        </footer>
    </body>
</html>